*{
    padding: 0;
    margin: 0;
    box-sizing: border-boxs;
}
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(176, 211, 241);
    cursor: url(./pincel.png) , auto;
    overflow: hidden;
    
}
.contenedor__paleta{
    height: 50rem;
    width: 50rem;
    background-color: violet;
    background: url(./paleta.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.contenedor__paleta .color{
    height: 7.5rem;
    width: 7.5rem;
    background-color: beige;
    border-radius: 50%;
    transition: 0.2s ease all;
    
    
}
.contenedor__paleta .color:hover{
    transform: rotate(360deg) scale(1.2);

    transition: 0.5s all ease;
}


.contenedor__paleta .color1{
    background:linear-gradient(to right, blue , rgb(134, 134, 255));
    position: relative;
    bottom: 1.6rem;
    left: 1rem;
}
.contenedor__paleta .color1:active{
    cursor: url(./pincel-azul.png), auto;

}


.contenedor__paleta .color2{
    background:linear-gradient(to right, rgb(255, 0, 0) , rgb(240, 81, 81));
    position: relative;
    bottom: 8.5rem;
    left: 1rem;
    
}
.contenedor__paleta .color2:active{
    cursor: url(./pincel-rojo.png) -1 -1 , auto;
}

.contenedor__paleta .color3{
    background:linear-gradient(to right, rgb(255, 255, 0) , rgb(235, 235, 147));
    position: relative;
    bottom: 8.5rem;
    left: 2.7rem;
}

.contenedor__paleta .color3:active{
    cursor: url(./pincel-amarillo.png) , auto;

}

.contenedor__paleta .color4{
    background: linear-gradient(to right, rgb(255, 7, 164) , rgb(250, 112, 213));
    position: relative;
    bottom: 4.2rem;
    left: 4.5rem
}
.contenedor__paleta .color4:active{
    cursor: url(./pincel-rosa.png) , auto;

}
.contenedor__paleta .color5{
    background: linear-gradient(to right , rgb(0, 128, 0) , rgb(85, 249, 73));
    position: relative;
    top: 10rem;
    right: 15rem;
}
.contenedor__paleta .color5:active{
    cursor: url(./pincel-verde.png) , auto;

}





@keyframes pincel{
    0%{
        transform: translateY(0rem);
    }
    10%{
        transform: translateY(-5rem);
    }
    25%{
        transform: rotate(-120deg);

    }
    40%{
        transform: translatex(-15rem);

    }
    

    100%{

    }


}